<mat-horizontal-stepper>
  <mat-step label="Your Basket">
    <div>
      <button mat-button matStepperNext color="primary">Next</button>
    </div>
  </mat-step>
  <mat-step label="Your delivery settings">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext color="primary">Next</button>
  </mat-step>
  <mat-step label="Check your order">
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext color="primary">Next</button>
    </div>
  </mat-step>
  <mat-step label="Payment">
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext color="primary">Next</button>
    </div>
  </mat-step>
  <mat-step label="Order overview">
  </mat-step>
</mat-horizontal-stepper>