<section class="mat-typography">
  <p>You can create your own pizza. Please select your toppings from the list below:</p>
    <mat-selection-list #toppings>
        <mat-list-option *ngFor="let topping of custompizzaState.toppingOptions" [value]="topping" [selected]="topping.isDefault">
          {{topping.name}}
        </mat-list-option>
      </mat-selection-list>
      <button mat-button (click)="addCustomPizzaToCart()">
          Add to cart
          <i class="material-icons">add_shopping_cart</i>
        </button>
</section>