<mat-horizontal-stepper>
  <mat-step label="Your Basket">
    <p [hidden]="basketItems.length!=0" class="mat-typography">Your basket is empty</p>
    <mat-list>
      <mat-list-item *ngFor="let position of basketItems">{{position.pizza.name}} | {{position.quantity}}</mat-list-item>
    </mat-list>
    <div>
      <button mat-button matStepperNext [disabled]="basketItems.length==0">Next</button>
    </div>
  </mat-step>
  <mat-step label="Your delivery settings">
    <form class="form-column">
      <mat-form-field>
        <input matInput placeholder="Prename">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Street and number">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Postal code">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Check your order">
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Payment">
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Order overview">
  </mat-step>
</mat-horizontal-stepper>