<div class="form-column mat-typography">
  <p>Where should we deliver to?</p>
  <mat-form-field>
      <input matInput placeholder="Email">
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prename">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Surname">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Street and number">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Postal code">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext color="primary">Next</button>
  </div>
</div>