<div class="form-column mat-typography">
  <p>How do you want to sell your soul?</p>
  <mat-form-field>
      <input matInput placeholder="Card-Type">
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Card-Number">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Card-Code">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Card-Date">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Card-Holder">
    <mat-error>This field is required</mat-error>
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext color="primary">Next</button>
  </div>
</div>